<div id="tabsy">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>

        {{#Tabs}}
            <li role="presentation">
                <a href="#{{Name}}" aria-controls="{{Name}}" role="tab" data-toggle="tab">
                    {{Name}}
                </a>
            </li>
        {{/Tabs}}
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
        </div>
        {{#Tabs}}
            <div role="tabpanel" class="tab-pane" id="{{Name}}">
                <script>
                    function init() {
                        delayedInitializationOfDiagrams($("#tabsy"));
                    }
                    var template = $.get('mustache/{{Template}}');
                    var data = $.get('data/{{Data}}');
                    $.when(template, data)
                            .done(function (template, data) {
                                var rendered = Mustache.render(template[0], data[0]);
                                $('#{{Name}}').html(rendered);
                            }).then(init);
                </script>
            </div>
        {{/Tabs}}
    </div>
</div>
