<script>
    $('#myTabs').find('a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>

        {{#TechTrees}}
            <li role="presentation">
                <a href="#{{Name}}" aria-controls="{{Name}}" role="tab" data-toggle="tab">
                    {{Name}}
                </a>
            </li>
        {{/TechTrees}}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">hiho</div>
        {{#TechTrees}}
            <div role="tabpanel" class="tab-pane" id="{{Name}}">
                <div id="tree{{Name}}" style="width:1500px; height:900px; background-color: #DAE4E4;"></div>
                <script>
                    initTree("{{Name}}", [
                        {{#Nodes}}
                            {
                                key: "{{Key}}",
                                name: "{{Name}}",
                                description: "{{Description}}",
                                production: "{{Production}}",
                                cost: "{{Cost}}",
                                {{#Parent}}
                                    parent: "{{Parent}}"
                                {{/Parent}}
                            },
                        {{/Nodes}}
                    ]);
                </script>
            </div>
        {{/TechTrees}}
    </div>
</div>