
<div id="tabsy">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>

        {{#TechTrees}}
            <li role="presentation">
                <a href="#{{Name}}" aria-controls="{{Name}}" role="tab" data-toggle="tab">
                    {{Name}}
                </a>
            </li>
        {{/TechTrees}}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">hiho</div>
        {{#TechTrees}}
            <div role="tabpanel" class="tab-pane" id="{{Name}}">
                <div id="tree{{Name}}" class="treeDiv" style="width:1500px; height:900px; background-color: #DAE4E4;"></div>
            </div>
        {{/TechTrees}}
    </div>
</div>

<script>
function main_in_template() {

    var panels = {};

{{#TechTrees}}
    panels['#{{Name}}'] = {
        firstTime: true,
        myDiagram: initTree("{{Name}}", [
        {{#Nodes}}
            {
                key: "{{Key}}",
                name: "{{Name}}",
                description: "{{Description}}",
                production: "{{Production}}",
                cost: "{{Cost}}",
                {{#Parent}}
                    parent: "{{Parent}}"
                {{/Parent}}
            },
        {{/Nodes}}
        ])
    };
{{/TechTrees}}

// delayed initialization of all diagrams
$(function() {
    $("#tabsy").tabs({
        activate: function(event, ui) {
            var ctxt = panels[ui.newPanel.selector];
            if (!ctxt) return;
            var myDiagram = ctxt.myDiagram;

            // Needed the first time you tab to a tab with a Diagram in it,
            // because the diagram in the tab had zero size while initializing:
            if (ctxt.firstTime) {
                myDiagram.delayInitialization(function() {
                    myDiagram.requestUpdate();
                });
                ctxt.firstTime = false;
            }

            // every time after you need nothing, or in case the Diagram div changed size, this:
            myDiagram.requestUpdate();
        }
    });
});

}
</script>
