<canvas id="HexCanvas" width="1000" height="850"></canvas>
<script>
    var hexagonGrid = new HexagonGrid("HexCanvas", 22);
    hexagonGrid.drawHexGrid(21, 21, 5, 5, true);
        {{#MapTiles}}
        hexagonGrid.drawHexAtColRow({{x}}, {{y}}, "{{color}}", "{{x}},{{y}}");
        {{/MapTiles}}
        {{#RiverSegments}}
        hexagonGrid.drawHexBorder({{x}}, {{y}}, "{{dir}}", "{{color}}", 5);
        {{/RiverSegments}}
</script>